body {
  color: #1f2937;
  background-color: #f9fafb;
  font-family: Garamond, serif;
  font-weight: normal;
  font-size: 1em;
  margin: auto;
  padding: 20px;
  max-width: 40em;
}

h1, h2, h3 {
  font-family: Verdana, sans-serif;
}
h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

p {
  line-height: 150%;
}

a {
  color: #0369a1;
  font-weight: bold;
}

a:hover {
  color: #0c4a6e;
}

ul {
  padding-left: 20px;
}

details {
  margin-bottom: 20px;
}

details summary {
  cursor: pointer;
}

details summary > div {
  display: inline-block;
  vertical-align: top;
}

summary p {
  margin-top: 0px;
}

article {
  margin-bottom: 40px;
  margin-top: 40px;
}

.sub-divider {
  border: 1px dashed #a0a1a7;
}

.navbar {
  padding-top: 10px;
}

.navbar .title {
  font-size: 1.8em;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 16px;
}

.navbar .links {
  margin-bottom: 16px;
}

.navbar .links a {
  color: #1f2937;
  font-weight: normal;
  font-size: 1.3em;
  font-family: monospace;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 16px;
}

.navbar .links a:hover {
  background-color: #e5e7eb;
}

.resume-item {
  background-color: #f0f0f1;
}
.resume-time {
  color: #383a42;
  margin-bottom: 0px;
}

.resume-title {
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 0px;
}

div.resume-description {
  background-color: #f0f0f0;
  margin-top: 5px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

div.block {
  background-color: #f0f0ff;
}

article h4 {
  margin-bottom: 2px;
}

article ul {
  margin-top: 0px;
}

tr {
  line-height: 150%;
}

article.publication h3 {
  display: inline;
  padding-right: 8px;
}

.author {
  color: #696c77;
  font-family: sans-serif;
  margin-top: 8px;
  margin-bottom: 8px;
}

.journal {
  font-family: sans-serif;
  font-size: 0.9em;
}

article.project {
    margin-bottom: 3em;
}

article.project .title h3 {
    display: inline;
    padding-right: 8px;
}

article.project p {
    line-height: 150%;
}

.time {
    color: #64748b;
    display: inline;
    font-size:  0.9em;
}

.pill {
    border: none;
    color: white;
    padding: 2px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
    font-family: monospace;
}

button {
    font-size: 1em;
}
.sky {
    background-color: #bae6fd;
    color: #0c4a6e;
}

button.sky:hover {
    background-color: #e0f2fe;
    cursor: pointer;
}

.teal {
    background-color: #99f6e4;
    color: #134e4a;
}

button.teal:hover {
    background-color: #ccfbf1;
    cursor: pointer;
}

.rose {
    background-color: #fecdd3;
    color: #881337;
}

button.rose:hover {
    background-color #ffe4e6;
    cursor: pointer;
}

.violet {
    background-color: #ddd6fe;
    color: #4c1d95;
}

button.violet:hover {
    background-color: #ede9fe;
    cursor: pointer;
}

code {
    background-color: #e2e8f0;
    border-radius: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

button.reset {
    font-family: monospace;
    text-decoration: underline;
    background-color: inherit;
    border: none;
    cursor: pointer;
    display: none;
    margin-top: 10px;
}
